include *.md
include LICENSE.txt

recursive-include openpiv_gpu/tutorials *
recursive-exclude openpiv_gpu/__pycache__ *

recursive-include openpiv_gpu *.ipynb
recursive-include openpiv_gpu *.py
recursive-include openpiv_gpu *.tif
recursive-include openpiv_gpu *.png